nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4056A1;
  height: 120px;
  width: 100vw;
  color: #fff;
  padding: 1.5em;
}

nav span {
  font-family: 'Bungee', cursive;
}
.fa-angle-double-down{
  position: absolute;
  bottom: 0;
  color: #D94132;
}

.nav-write-tweet {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




